/.vs/slnx.sqlite
/Reshetochki/.vs/Reshetochki/DesignTimeBuild/.dtbcache.v2
/Reshetochki/.vs/Reshetochki/v16/.suo
/Reshetochki/Task1/obj/Debug/netcoreapp3.0/Task1.csprojAssemblyReference.cache
/Reshetochki/Task2/obj/Debug/netcoreapp3.1/Task2.csprojAssemblyReference.cache
/Reshetochki/Task2/obj/Release/netcoreapp3.1/Task2.assets.cache
/Reshetochki/Task2/obj/Release/netcoreapp3.1/Task2.csprojAssemblyReference.cache
/Reshetochki/Task2/bin/
/Reshetochki/Task2/obj/
/Reshetochki/.vs/Reshetochki/v16/.suo
/Reshetochki/.vs/Reshetochki/DesignTimeBuild/.dtbcache.v2
/Reshetochki/.vs/Reshetochki/DesignTimeBuild/.dtbcache.v2
/Reshetochki/.vs/Reshetochki/v16/.suo
/Reshetochki/Task2/obj/Debug/netcoreapp3.1/Task2.csprojAssemblyReference.cache
